body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #404040;
    background-color: #eee;
    height: 80vh;
}

h1{
    padding: 1em 0;
    letter-spacing: 1.5px;

}

.box{
    position: relative;
    width: 400px;
    height:100px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2),  -3px -3px 5px rgba(255,255,255,0.6);
    border-radius: 40px;
}

.clock-container{
    display: flex;
    position: absolute;
    padding: 1.5em;
    margin-right: -1em;
}

.clock-container div{
    padding: 0 .5em ;
    font-size: 40px;
}